* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #ffffff;
  background-image: radial-gradient(650px circle at 0% 0%, #b7e0b4, transparent 100%);
}

.nav-list {
  background-color: #06FF00;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
  margin: 0;
  border-radius: 5px;
  font-size: smaller;
}

.nav-list .nav-item a {
  text-decoration: none;
  color: black;
}

.nav-list a:hover {
  color: #DDFFBC;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.nav-list .nav-item:first-child {
  margin-right: auto;
}

main {
  padding: 1rem 4rem;
}

.row {
  padding: 10px 3px;
  gap: 3rem;
}

.row-container {
  background-color: #f9e743;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
}

.row-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.5rem;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
}

.img {
  text-align: center;
}

.cripto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem;
  gap: 1rem;
}

.form-container {
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #06FF00;
  text-align: center;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
  margin: 0;
  padding: 0.7rem 0.7rem;
  border-radius: 5px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #DDFFBC;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.foot p {
  color: #514d4d;
}

.socialnet, .socialnet_t, .socialnet_w, .socialnet_i, .socialnet_tw {
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.socialnet_t {
  color: blue;
}

.socialnet_w {
  color: green;
}

.socialnet_i {
  color: red;
}

.socialnet_tw {
  color: grey;
}

@media only screen and (max-width: 575px) {
  main {
    padding: 0 0;
  }
  .nav-list {
    padding: 0.3rem 0.3rem;
  }
  .img {
    display: none;
  }
  .row {
    padding: 10px 3px;
    gap: 1rem;
  }
  .row-box {
    gap: 0.5rem;
    padding: 0.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .row-box p {
    font-size: 0.7rem;
    font-style: normal;
    color: grey;
  }
  .row-box p.value {
    font-size: 1rem;
    font-style: normal;
    color: black;
  }
  .row-container {
    padding: 0.2rem;
  }
  .para p {
    font-size: small;
    margin: 0px;
    padding: 0px;
  }
  .actualiza {
    font-size: small;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .row-box {
    gap: 0.5rem;
    padding: 0.3rem;
  }
  .row-box p {
    font-size: 1rem;
    font-style: normal;
    color: grey;
  }
  .row-box p.value {
    font-size: 1.5rem;
    font-style: normal;
    color: black;
  }
  img.size {
    width: 300px;
    height: 150px;
  }
  main {
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 769px) {
  img.size {
    width: 650px;
    height: 250px;
  }
  .row-box p {
    font-size: 1.3rem;
    font-style: normal;
    color: grey;
  }
  .row-box p.value {
    font-size: 3rem;
    font-style: normal;
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */