$rem: (
    1r: 1rem,
    2r: 2rem,
    3r: 3rem,
    4r: 4rem,
    45r: 4.5rem
);

@mixin shadow{
    padding: map-get($rem, 1r);
    border-radius: 8px;
    box-shadow: $shadow;  
}

main{
    padding: map-get($rem, 1r) map-get($rem, 4r);
    }

.row{
    padding: 10px 3px;
    gap: map-get($rem, 3r);
        }

.row-container{
    background-color: $colorBox;
    @include shadow;
        }

.row-box{
    display: flex;
    gap: map-get($rem, 45r);
    background-color: $coloBack;
    justify-content: center;
    font-weight: bold;
    @include shadow; 
        }

.img{
    text-align: center;
    }

.cripto{
    display: flex;
    margin: map-get($rem, 3r);
    gap: map-get($rem, 1r);
    }

.form-container{
  text-align: start;
  align-items: center;
    }