$rem: (
    1r: 1rem,
    2r: 2rem,
    3r: 3rem,
    4r: 4rem,
    45r: 4.5rem
);

@mixin shadow{
    padding: map-get($rem, 1r);
    border-radius: 8px;
    box-shadow: $shadow;  
}

main{
    padding: map-get($rem, 1r) map-get($rem, 4r);
    background-color: whitesmoke;
    background-image: url(../assets/dollar_bills.jpg);
    background-size: cover;
    background-blend-mode: color-burn;
    }

.row{
    padding: 10px 2px;
    gap: map-get($rem, 3r);
        }

.row-container{
    background-color: $colorBox;
    @include shadow;
        }

.row-box{
    display: flex;
    gap: map-get($rem, 45r);
    background-color: $coloBack;
    justify-content: center;
    font-weight: bold;
    @include shadow; 
        }

.img{
    text-align: center;
    }

.cripto{
    display: flex;
    gap: map-get($rem, 1r);
    }

.form-container{
  text-align: start;
  align-items: center;
    }

.para{
    background-color: white;
    @include shadow;

}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }