
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
    }

.nav-list{
    background-color: $colorNav;
    box-shadow: $shadow;
    margin:0;
    border-radius: 5px;
    font-size: smaller;

        .nav-item a{
        text-decoration: none;
        color:black;
        }
    
        & a:hover{
        color: #DDFFBC;
        transition: all 200ms ease-in;
        }
    
        .nav-item:first-child{
        margin-right: auto;
        margin-left: 1.3rem;
        } 
    }